doctype html    
html
  head
    meta(charset='utf-8')
    script(type='text/javascript', src='/bundle.js')
  body
    ul
      li
        a(href="http://localhost:3000/test/nodes_disks.html")
         | Clusters Nodes with disks information
      li
        a(href="http://localhost:3000/test/node_disks.html")
         | One Node with detailed disks information
      li
        a(href="http://localhost:3000/test/hdfs_nav.html")
         | DFS Directory Browser   

